* {
    font-size: 10px;
    font-family: Verdana;
}

h1 { font-size: 24px; }

.navigator {
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

a#currenttab { border-bottom:1px solid #fff }

a {
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #aaa;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font-size: 15px;
    background: #FFFFE0;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
  opacity: 1;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}
